
#checkout-order-form{
	width:600px;
	border-radius: 10px;
	-moz-border-radius: 100px / 50px;
}

#fieldset-shipping,#fieldset-payment,#fieldset-billing{
	width: 600px;

}

#login{
    height: 30px;
    position: absolute;
    top: 45px;
    right:55px;
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight: bold;
}


h2{      
	   
	    
        padding:4px;
	   font-size: 1.80em;
       font-weight: bolder;
       font-family: Segoe UI,sans-serif;
       line-height: 1.5em;
       color: #524D52;
       letter-spacing: 4px;
}

#checkout-cart{
	   font-size: 1.20em;
       font-weight: bold;
       line-height: 1.5em;
       color: #524D52;
       letter-spacing: 2px;
}

#hm{
  margin-top: 4px;
  margin-left:20px;
 font-size: 1.10em;
       font-weight: bold;
       line-height: 1.3em;
       color: #524D52;
       letter-spacing: 2px;

}