 <html>
 <head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="./css/index.css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
 </head>

<body>


 <div id="login">

 <form method="post" action="../pogobooks++/model/login.php">
 <br>
  <input type="text" name="username" placeholder="Name"/> <br>
  <input type="text" name="password" placeholder="Password"/> 
  <input type="submit" name="submit" value="Log In"/> <br>
  <p id="sign"><a href="./view/sign-in.html">Sign In</a></p>
 </form> 
 
  </div>

  </body>

  </html>