<html>
<head>

<title>Sign-Up</title>

 <link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">

</head>

<body id="body-color">
<center>
<div id="Sign-Up">
<fieldset style="width:30%"><legend>Registration Form</legend>
<table border="0">
<tr>
<form method="POST" action="../model/conn-sign-up.php">
</tr>
<tr>
<td>Username</td><td> <input type="text" name="username"></td>
</tr>
<tr>
<td>Password</td><td> <input type="password" name="password"></td>
</tr>
<tr>
<td>Confirm Password </td><td><input type="password" name="cpass"><br></td>
</tr>
<tr><br>
<td><input id="button" type="submit" name="submit" value="Sign-Up"></td>
</tr>
</form>
</table>
</fieldset>
</div>
</center>
</body>
</html>
